@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

/* html,
body {
  padding: 0;
  margin: 0;
} */

* {
  outline-offset: 4px;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

html {
  --space-xxl: 64px;
  --space-xl: 32px;
  --space-lg: 24px;
  --space-md: 16px;
  --space-sm: 8px;
  --space-xs: 4px;
  --color-fg: #1f1f1f;
  --color-fg-strong: #000000;
  --color-bg: #ffffff;
  --color-bg-input: #efefef;
  --color-bg-input-active: #dfdfdf;
  --color-bg-red-weak: #461d1d;
  --color-bg-blue-weak: #d0e5ff;
  --font-size-xxl: 40px;
  --font-size-xl: 32px;
  --font-size-lg: 24px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 12px;

  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--font-size-md);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --color-bg: #000000;
    --color-bg-input: #efefef;
    --color-bg-input-active: #dfdfdf;
    --color-fg: #efefef;
    --color-strong: #fff;
    --color-bg-red-weak: #461d1d;
    --color-bg-blue-weak: #172c46;
  }
}

@media screen and (max-width: 480px) {
  html {
    --font-size-xxl: 36px;
    --font-size-xl: 28px;
    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 16px;
    --font-size-xs: 12px;
  }
}
