@mixin max-lines($lines) {
  @if $lines != 0 {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-orient: vertical;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    line-clamp: $lines;
    -webkit-line-clamp: $lines;
    overflow-y: hidden;
  }
}

.root {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: "normal";
  text-align: inherit;
  text-decoration: none;
  word-break: break-word;

  @include max-lines();

  @include mobile {
    font-size: 16px;
  }

  &--color {
    &-foreground {
      color: $light-foreground-color;

      @include dark-mode {
        color: $dark-foreground-color;
      }
    }
    
    &-emphasize-foreground {
      color: $light-emphasize-foreground-color;

      @include dark-mode {
        color: $dark-emphasize-foreground-color;
      }
    }
    
    &-secondary-foreground {
      color: $light-secondary-foreground-color;

      @include dark-mode {
        color: $dark-secondary-foreground-color;
      }
    }
    
    &-primary-foreground {
      color: $light-primary-foreground-color;

      @include dark-mode {
        color: $dark-primary-foreground-color;
      }
    }
    
    &-accent-foreground {
      color: $light-accent-foreground-color;

      @include dark-mode {
        color: $dark-accent-foreground-color;
      }
    }
    
    &-white-foreground {
      color: $light-white-foreground-color;

      @include dark-mode {
        color: $dark-white-foreground-color;
      }
    }
    
    &-background {
      color: $light-background-color;

      @include dark-mode {
        color: $dark-background-color;
      }
    }
    
    &-secondary-background {
      color: $light-secondary-background-color;

      @include dark-mode {
        color: $dark-secondary-background-color;
      }
    }
    
    &-accent-background {
      color: $light-accent-background-color;

      @include dark-mode {
        color: $dark-accent-background-color;
      }
    }
    
    &-loader {
      color: $light-loader-color;

      @include dark-mode {
        color: $dark-loader-color;
      }
    }
    
    &-loader-highlight {
      color: $light-loader-highlight-color;

      @include dark-mode {
        color: $dark-loader-highlight-color;
      }
    }
  }

  &--typeface {
    &-headline {
      font-family: "Montserrat", sans-serif;
    }

    &-monospace {
      font-family: "Source Code Pro", monospace;
    }
  }

  &--weight {
    &-bold {
      font-weight: 600;
    }
  }

  &--style {
    &-italic {
      font-style: italic;
    }
  }

  &--size {
    &-giantic {
      font-size: 46px;
  
      @include mobile {
        font-size: 36px;
      }
    }
    &-huge {
      font-size: 40px;
  
      @include mobile {
        font-size: 30px;
      }
    }
    &-large {
      font-size: 32px;
  
      @include mobile {
        font-size: 24px;
      }
    }
    &-larger {
      font-size: 24px;
  
      @include mobile {
        font-size: 20px;
      }
    }
    &-small {
      font-size: 16px;
  
      @include mobile {
        font-size: 12px;
      }
    }
  }

  &--line-size {
    &-large {
      line-height: 1.75;
    }
  }

  &--text-alignment {
    &-start {
      text-align: start;
    }

    &-end {
      text-align: end;
    }

    &-center {
      text-align: center;
    }
  }

  &--decoration {
    &-line-through {
      text-decoration: line-through;
    }

    &-underline {
      text-decoration: underline;
    }

    &-line-through&-underline {
      text-decoration: line-through underline;
    }
  }
}
