@layer screens {
  .thumbnail {
    block-size: 20rem;
    inline-size: 100%;
    object-fit: cover;
  }

  @media (width < calc(800px + 32px)) {
    .thumbnail {
      inline-size: 100vw;
      margin-inline: calc(var(--size-16) * -1);
    }
  }

  .title {
    margin-block-start: var(--size-32);
    color: var(--neutral-12);
    font-size: var(--text-4xl);
    font-weight: 600;
    line-height: 1.25;
  }

  .locale-not-found {
    margin-block-start: var(--size-32);
  }

  .markdown {
    margin-block-start: var(--size-32);
  }
}
